<div class="well">
  <div id="stripe_error" class="alert alert-error" style="margin-bottom: 5px; display: none; margin-bottom: 0px;border: 1px solid red;color:#ffffff;background-color:brown;">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  
  
  <h4>Payment</h4>
  <%= form_for @user,:role=>"form" do |f|  %>
    <%= f.hidden_field :stripe_card_token %>

    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :center_code %>*
          <%= f.text_field :center_code,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" style="background: #79AE3D;border:1px solid black;color:#ffffff;height:40px;">
        <h4>Customer Information</h4>
      </div>
    </div><br/>


    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :name %>*
          <%= f.text_field :name,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row" style="background-color: #D2F7F7;">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :email,"E-mail Address" %>*
          <p>We need this to send your order confirmation and updates</p>
          <%= f.text_field :email,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" style="background: #79AE3D;border:1px solid black;color:#ffffff;height:40px;">
        <h4>Product Information</h4>
      </div>
    </div><br/>

    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label  :product_description %>*
          <%= f.text_field :product_description,:class=>"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label  :price,"Price(USD)" %>*
          <%= f.text_field :price,:class=>"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :seller, "Seller / Center" %>*
          <%= f.text_field :seller,:class=>"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label  :comments %>
          <%= f.text_field :comments,:class=>"form-control" %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12" style="background: #79AE3D;border:1px solid black;color:#ffffff;height:40px;">
        <h4>Billing Address Section</h4>
      </div>
    </div><br/>


    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :first_name %>*
          <%= f.text_field :first_name,:class=>"form-control" %>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="form-group">
          <%= f.label  :mi %>
          <%= f.text_field :mi,:class=>"form-control" %>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :last_name %>*
          <%= f.text_field :last_name,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label  :address1, "Street Address" %>*
          <%= f.text_field :address1,:class=>"form-control" %>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label  :address2, "Address Line 2" %>
          <%= f.text_field :address2,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :city %>*
          <%= f.text_field :city,:class=>"form-control" %>
        </div>
      </div>


      <div class="col-lg-2">
        <div class="form-group">
          <%= f.label  :state %>*
          <%= f.text_field :state,:class=>"form-control" %>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :zip,"Zipcode" %>*
          <%= f.text_field :zip,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" style="background: #79AE3D;border:1px solid black;color:#ffffff;height:40px;">
        <h4>Shipping Address Section</h4>
      </div>
    </div><br/>


    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :shipping_firstname, "First Name" %>*
          <%= f.text_field :shipping_firstname,:class=>"form-control" %>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="form-group">
          <%= f.label  :shipping_mi,"MI" %>
          <%= f.text_field :shipping_mi,:class=>"form-control" %>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :shipping_last_name,"Last Name" %>*
          <%= f.text_field :shipping_last_name,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label  :shipping_address1, "Street Address" %>*
          <%= f.text_field :shipping_address1,:class=>"form-control" %>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label  :shipping_address2, "Address Line 2" %>
          <%= f.text_field :shipping_address2,:class=>"form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :shipping_city,"City" %>*
          <%= f.text_field :shipping_city,:class=>"form-control" %>
        </div>
      </div>


      <div class="col-lg-2">
        <div class="form-group">
          <%= f.label  :shipping_state,"State" %>*
          <%= f.text_field :shipping_state,:class=>"form-control" %>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label  :shipping_zip,"Zipcode" %>*
          <%= f.text_field :shipping_zip,:class=>"form-control" %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12" style="background:#042C58;border:1px solid black;color:#ffffff;height:40px;">
        <h4>Payment Methods</h4>
      </div>
    </div><br/>

    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <%= label_tag :card_number, "Credit Card Number" %>*
          <%= text_field_tag :card_number,nil,:class=>"form-control",:maxlength => "16",:onkeydown => "isNumber(this);" %>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="form-group">
          <%= label_tag :card_code, "Security Code" %>*
          <%= text_field_tag :card_code,nil,:class=>"form-control",:onkeydown => "isNumber(this);" %>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="form-group">
          <%= f.label :card_holder_name, "Card Holder Name" %>*
          <%= f.text_field :card_holder_name,:class=>"form-control" %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <%= label_tag :card_month, "Card Expiration" %>*
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month",:class=>"form-control"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year",:class=>"form-control"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <%= check_box_tag :terms %> I agree to terms and conditions
        </div>
      </div>
    </div>

    <div class="form-footer">
      <%= f.submit :save, :class => "btn btn-success" %>
    </div>


  <% end %>
</div>


<script>
  var subscription;

  $(document).ready(function() {
    Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
    return subscription.setupForm();
  });

  subscription = {
    setupForm: function() {
      return $('#new_user').submit(function() {
        $("#stripe_error").hide();
        $('input[type=submit]').attr('disabled', true);
        subscription.processCard();
        return false;
      });
    },
    processCard: function() {
      var card, charge;
      card = {
        number: $('#card_number').val(),
        cvc: $('#card_code').val(),
        expMonth: $('#card_month').val(),
        expYear: $('#card_year').val()
      };
      return Stripe.createToken(card, subscription.handleStripeResponse);
    },
    handleStripeResponse: function(status, response) {
      if (status === 200) {
        $('#user_stripe_card_token').val(response.id);
        $('#new_user')[0].submit();
      } else {
        $('input[type=submit]').attr('disabled', false);
        $('#stripe_error').show();
        $('#stripe_error').html(response.error.message)
      }
    }
  };

  function isNumber(which) {
    var val = which.value;
    val = val.replace(/[^0-9]/g, '');  // strip non-digits
    which.value = val;
  }

</script>